{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Short.ly {% endblock %}</h1>
    <div>
            <form method="post" action="{{url_for('index')}}">
                <input type="text" name="url" id="url"
                    placeholder="Enter URL"
                    value="{{ request.form['url'] }}" autofocus></input>
                <label for="url">URL</label>
                <button type="submit">Shorten</button>
            </form>

            {% if short_url %}
            <hr>
            <span><a href="{{ short_url }}" target="_blank">{{ short_url }}</a></span>
            {% endif %}
    </div>
{% endblock %}