<!doctype html>
<html lang="en">
  <head>
    <title>Welcome to Short.ly</title>
  </head>
  <body>
    <div>
        <h1>Welcome to Short.ly</h1>
        <div>
            <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <input type="text" name="url" id="url" placeholder="Enter URL" autofocus></input>
                <label for="url">URL</label>
                <button type="submit">Shorten</button>
            </form>

            {% if short_url %}
                <hr>
                <span><a href="{{ short_url }}" target="_blank">{{ short_url }}</a></span>
            {% endif %}
        </div>
    </div>

  </body>
</html>